    <table style="border-bottom: 1px solid black; width: 100%">
        <tr>
            <td class="section"></td>
            <td style="text-align:right">
                Página <span class="page"></span> de <span class="topage"></span>
            </td>
        </tr>
    </table>