    <table style="border-bottom: 1px solid black; width: 100%">
        <tr>
            <td style="text-align:center">
                <%#= image_tag current_user.school.logo.variant(resize_to_limit: [70, 70])%>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <%=@current_user.school.name %>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                RUA: ESTADOS UNIDOS - AREIAS I - IGUATU/CE, 455
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                educadáriofatima@gmail.com
            </td>
        </tr>
    </table>